{% extends 'base.html' %}{% block content %}
 
  <style type="text/css">
      .color{
        color: #FFBF00;
        font-size: 6em;
         font-weight: bold;

      }


  </style>
    <hr class="uk-box-shadow-medium ">
    <div class="container" id="home">
  <div class="uk-section uk-section-default uk-margin-remove-top">
        <div class="uk-container">
              
                <h1 class=" uk-text-center color large" >404</h1>
                <h1 class=" uk-text-center"> FILE NOT FOUND </h1 >
                {% if messages %}
                <p class="uk-text-center">
                    {% for message in messages %}
                            {{ message }}
                    {% endfor %}
                 </p>   
                {% else %}
                       <p class="uk-text-center">The page you are looking for has been removed,had its name changed or temporarily unavailable</p>
                {% endif %}

                <br>
               
               <h2 class="uk-text-center">ขออภัยในความไม่สะดวก</h2>
                <h2 class="uk-text-center">คุณสามารถแจ้งข้อผิดพลาดได้ที่ @Line</h2>
                
            </div>
        </div>
    </div>
{% endblock %}