{% extends 'base.html' %}{% load static %} {% block content %}{% load widget_tweaks %}
    <style>
    .banner-new {
    background: url('{% static "images/fork.jpg" %}') no-repeat 0px 0px;
    background-size: cover;
    /*background-attachment: fixed;*/
    
    }
    /*  .center {
    text-align: center;
    }
    .merge-bottom-input {
    width: 67px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }
    .merge-top-left-button {
    border-top-left-radius: 0;
    }
    .merge-top-right-button {
    border-top-right-radius: 0;
    }*/
    .imgCrop-desktop{
    width: 150px;
    height:100px;
    overflow: hidden;
    position:  relative;
    }
    .inImg-desktop{
    position: absolute;
    
    width: 150px;
    height:100px;
    object-fit: cover;
    }
    .imgCrop-mobile{
    width: 100px;
    height:90px;
    overflow: hidden;
    position:  relative;
    }
    .inImg-mobile{
    position: absolute;
    
    width: 130px;
    height:90px;
    object-fit: cover;
    }
    input[type=text],.uk-textarea,.uk-select{
    background-color: #EEEEEE;
    }
    .imgCrop{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position:  relative;
    }
    /*     .uk-button-order :hover{
    color: white;
    background-color: #FFCA28;
    }*/
    #btn-inline,#p-inline{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
    }
    </style>
    <!-- banner -->
    
    <!-- end banner -->
    <!-- <br>     -->
    <hr class="uk-box-shadow-medium "> {% csrf_token %}
    <div class="uk-background-muted" style="margin-top: -20px;">
        <div class="container " id="home">
            <br>
            <div class="uk-card uk-card-default">
                <div class="uk-card-body uk-margin-remove">
                    <!--  <div class="container uk-margin-medium-top" id="home" style="background-color: #F8F8F8">
                        <div class=" uk-margin-medium-bottom"> -->
                            
                            <h2 class="uk-heading-bullet">ตรวจสอบรายการ</h2>
                            <hr>
                            <!-- <br> -->
                            <table  id="add_table" class="uk-table uk-table-divider  uk-margin-remove-bottom  ">
                                
                                <tbody>
                                    {% for order in output %}
                                        
                                        <tr>
                                            <td class="uk-width-small"  >
                                                <div class="image-desktop">
                                                    <div class="imgCrop-desktop"><img src="../{{order.url_pic}}" class="inImg-desktop" alt="" ></div>
                                                </div>
                                                <div class="image-mobile">
                                                    <div class="imgCrop-mobile"><img src="../{{order.url_pic}}" class="inImg-mobile" alt="" ></div>
                                                </div>
                                                
                                                
                                            </td>
                                            <td class="uk-width-small"> <h4>{{order.amount}} x {{order.name}}</h4></td>
                                            <td class="uk-width-small">  <h4> {{order.price}} บาท</h4></td>
                                        </tr>
                                    {% endfor %}
                                    {% if delivery_charge == 0 %}
                                        <tr style="font-weight: bold;color: black">
                                            <td class="uk-width-small ">  </td>
                                            <td class="uk-width-small "> <h3 >รวม</h3> </td>
                                            <td class="uk-width-small">  <h3> {{total}} บาท</h3></td>
                                            
                                        </tr>
                                    {% else %}
                                        <tr style="font-weight: bold;color: black">
                                            <td class="uk-width-small ">  </td>
                                            <td class="uk-width-small "> <h3 >ค่าจัดส่ง</h3> </td>
                                            <td class="uk-width-small">  <h3> {{delivery_charge}} บาท</h3></td>
                                            
                                        </tr>
                                        <tr style="font-weight: bold;color: black">
                                            <td class="uk-width-small ">  </td>
                                            <td class="uk-width-small "> <h3 >รวม</h3> </td>
                                            <td class="uk-width-small">  <h3> {{total}} บาท</h3></td>
                                            
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <hr>
                            <!--     <table class="uk-table " style="margin-top: -20px">
                                
                                <tbody class=" uk-margin-remove-top ">
                                    
                                    
                                    
                                    
                                </tbody>
                            </table> -->
                            
                            
                            <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                                
                                <div></div>
                                <div>
                                    <label id="p-inline" class="">โค้ดส่วนลด </label>
                                    <div id="btn-inline" class="uk-form-controls uk-width-1-2">
                                        <input class="uk-input" id="input_code" type="text" placeholder="กรอกโค้ดที่นี่">
                                    </div>
                                    <button id="code" class="uk-button uk-button-default" type="button"><h2 class="uk-margin-small-top">ใช้</h2></button>
                                </div>
                            </div>
                            <br>
                            <h2 class="uk-heading-bullet">เบอร์โทรศัพท์ที่สามารถติดต่อได้</h2>
                            <div class="uk-margin">
                                <input id="myPhoneNumbet" class="uk-input" type="text" placeholder="{{delivery_phone}}">
                            </div>
                            <h2 class="uk-heading-bullet">ที่อยู่จัดส่ง</h2>
                            <label for="">ขอบเขตที่ร้านค้าสามารถจัดส่งได้ {{store.delivery_boundary}} </label>
                            <div class="uk-margin">
                                <textarea id="myTextarea" class="uk-textarea" rows="3" placeholder="{{delivery_address}}"></textarea>
                            </div>
                            
                            
                            <!--
                            <br>
                            <br> -->
                            
                            
                            
                            <button  class="uk-margin-top uk-button uk-button-order uk-align-center" id="orderBtn" style="color: white; " ><h1 class="uk-margin-small-top">ชำระเงิน</h1></button>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            <br>
            {% block javascript %}
                <script type="text/javascript">
                $(document).ready(function(){
                //                 $(function(){
                //      $('form').on('submit', function(e){
                //          e.preventDefault();
                //          $.ajax({
                //              url: $(this).attr('action'),
                //              method: $(this).attr('method'),
                //              success: function(data){
                //                 $('#target').html(data)
                //             }
                //          });
                //      });
                // });
                //                 // document.getElementById("orderBtn").disabled = true;
                
                var total = {{total}}
                $("#orderBtn").click(function() {
                
                
                var address =  document.getElementById("myTextarea").value;
                if (!address){
                address=  document.getElementById("myTextarea").placeholder;
                }
                console.log(address);
                var data = JSON.stringify({{output|safe}});
                var d_address= JSON.stringify(address);
                var total_act = JSON.stringify(total);
                var d_phone_number =  document.getElementById("myPhoneNumbet").value;
                
                // console.log(payment);
                $.ajax({
                url: '/delivery/',
                type: 'GET',
                data: {'data':data,'total':total_act,'address':d_address,'phone_number':d_phone_number,'total_act':total_act,
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                },
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function(data) {
                var a = "{% url 'success' order_id=112233 %}".replace("success", data.next_page);
                var b= a.replace("112233", data.order_id);
                window.location.href = b;
                
                },
                error: function(data) {
                alert("การสั่งซื้อผิดพลาด กรุณาลองใหม่ภายหลัง");
                }
                });
                });
                $("#code").click(function() {
                
                
                var code =  document.getElementById("input_code").value;
                
                console.log(code);
                // var data = JSON.stringify({{output|safe}});
                // var d_address= JSON.stringify(address);
                // var d_phone_number =  document.getElementById("myPhoneNumbet").value;
                
                // console.log(payment);
                $.ajax({
                url: '/code/',
                type: 'GET',
                data: {'code':code,csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                },
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function(data) {
                // alert(data.code);
                // alert(data.value);
                if (data.code == 0) {
                var text = '<tr><td class="uk-width-small"></td><td class="uk-width-small"><h4 class="uk-text-muted">';
                text += data.code;
            text += '</h4></td><td class="uk-width-small"><h3 class="uk-text-muted">';
            text += data.msg;
        text += ' บาท</h3></td></tr>';
        total = {{total}} - data.value;
        var text_total ='<tr><td class="uk-width-small"></td><td class="uk-width-small"><h4 class="uk-text-success uk-text-bold">';
        
    text_total += 'รวม</h4></td><td class="uk-width-small"><h3 class="uk-text-success uk-text-bold">';
    text_total += total;
text_total += ' บาท</h3></td></tr>';
}
else if (data.code == 1 ){
var text = '<tr><td class="uk-width-small"></td><td class="uk-width-small"><h4 class="uk-text-muted">';
text += data.msg;
text += '</h4></td><td class="uk-width-small"><h3 class="uk-text-muted">';
text += data.value;
text += '</h3></td></tr>';
total = {{total}};
var text_total ='<tr><td class="uk-width-small"></td><td class="uk-width-small"><h4 class="uk-text-success uk-text-bold">';

text_total += 'รวม</h4></td><td class="uk-width-small"><h3 class="uk-text-success uk-text-bold">';
text_total += total;
text_total += ' บาท</h3></td></tr>';
}

$('#add_table tr:last').remove();
$("#add_table").last().append(text);

$("#add_table").last().append(text_total);
$('#code').prop('disabled', true);


},
error: function(data) {
alert("โค้ดไม่ถูกต้อง");
}
});
});

});
</script>
{% endblock %}

{% endblock %}