{% extends 'base.html' %}{% block content %}{% load static %}
	
	<style type="text/css">
	.bg {
		
		background: url('{% static "images/midnight2.png" %}') no-repeat center center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	.bg-bottom{
		background: url('{% static "images/black2.jpg" %}') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

	#title {
		color: #000000;
	}


	</style>
	<hr class="uk-box-shadow-medium uk-margin-remove-bottom" >
	<div class="uk-section-default " >
		<div class="uk-section uk-light bg "  >
			<!-- <div class="uk-container"> -->
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			
		</div>
	</div>
	<div class="uk-section-default" >
		<div class="uk-section bg-bottom uk-light" >
			<div class="container " id="home"  >
				<h1 class="uk-heading-line uk-text-center uk-margin"><span>อาหารตามสั่ง</span></h1>
				<div class="uk-child-width-1-2@s" uk-grid>
					<div>
						
						<div class=" uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ร้านอาหารตามสั่งอิ่มอร่อย</h3>
									<p>อาหารตามสั่ง ยำ ผัด แกง ต้มยำ สุกี้ </p>
								</div>
							</div>
						</div>
					</div>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body ">
									<h3 id="title">พินิจโต้รุ่ง</h3>
									<p>อาหารตามสั่ง ยำ ผัด แกง ต้มยำ สุกี้ </p>
								</div>
							</div>
						</div>
					</div>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ร้าน 3 ป. ขาหมู อาหารตามสั่ง</h3>
									<p>ข้าวขาหมู ข้าว ผัด ผัด ต้ม ยำ สุกี้</p>
								</div>
							</div>
						</div>
					</div>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">อาหารอิสลาม Halal Food </h3>
									<p>ร้านนี้ไม่มีหมู ข้าวกระเพรา ข้าวยำ ข้าวผัด อื่น ๆ สุกี้ ราดหน้า</p>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
				<h1 class="uk-heading-line uk-text-center uk-margin"><span>ก๋วยเตี๋ยว </span></h1>
				<div class="uk-child-width-1-2@s" uk-grid>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ชาย 4 บะหมี่เกี๊ยว</h3>
									<p>บะหมี่หมูแดง เกี๊ยวหมูแดง เกาเหลา มาม่า อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ลูกชิ้นเนื้อวัว แชมป์ฮั้งเพ้ง ลูกชิ้นหมู</h3>
									<p>ก๋วยเตี๋ยวหมูน้ำตก เย็นตาโฟ เกาเหลา อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					
					
					
				</div>
				<h1 class="uk-heading-line uk-text-center uk-margin"><span>ข้าวมันไก่ ข้าวหมูแดง </span></h1>
				<div class="uk-child-width-1-2@s" uk-grid>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ข้าวยำไก่ย่าง ข้าวมันไก่ 2 สี </h3>
									<p>ข้าวได่บาร์บีคิว ไก่พริกไทยดำ นิวออรีน ข้าวไก่แซ่บ ข้าวหน้าปลาทอด อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ข้าวหน้าเป็ด ข้าวหมูแดง-ข้าวหมูกรอบ</h3>
									<p>ข้าวหมูแดง ข้าวหน้าเป็ด ข้าวยำ ข้าวหมูย่าง อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					
					
					
				</div>
				<div class="uk-child-width-1-2@s" uk-grid>
					<div>
						<h1 class="uk-heading-line uk-text-center uk-margin"><span>ราดหน้า ผัดไทย</span></h1>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ผัดไท หอยทอด ลาดหน้า</h3>
									<p>ผัดไทกุ้งสด ราดหน้า ก๋วยจั๋บ อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					<div>
						<h1 class="uk-heading-line uk-text-center uk-margin"><span>ข้าวต้ม</span></h1>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">โจ้ก ข้าวต้ม</h3>
									<p>โจ๊ก ข้าวต้มเครื่อง ยำ ผัดผังบุ้ง อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				
				<div class="uk-child-width-1-2@s" uk-grid>
					<div>
						<h1 class="uk-heading-line uk-text-center uk-margin"><span>อาหารอีสาน</span></h1>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ตำยำย่าง อาหารอีสาน ลาบยโส</h3>
									<p>ส้มตำ หมูย่าง ไก่ ปลาดุก ลาบ ต้มแซ่บ ยำ อื่น ๆ </p>
								</div>
							</div>
						</div>
					</div>
					<div>
						<h1 class="uk-heading-line uk-text-center uk-margin"><span>ข้าวแกง</span></h1>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ข้าวแกงชุดอิ่มอร่อย</h3>
									<p>ข้าวแกงจับคู่ ต้มยำปลากระป๋อง + ไข่เจียว แกงส้ม + ไข่เดียว อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					
					
					
				</div>
				<h1 class="uk-heading-line uk-text-center uk-margin"><span>เครื่องดื่ม ผลไม้ </span></h1>
				<div class="uk-child-width-1-2@s" uk-grid>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">เครื่องดื่ม ยำผลไม้ ผลไม้</h3>
									<p>น้ำปั่น ผลไม้ ยำ อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ปังเย็น</h3>
									<p>นมสด โกโก้ ชาเย็น ปังเย็น อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					
					
					
				</div>
				<h1 class="uk-heading-line uk-text-center uk-margin"><span>อื่น ๆ</span></h1>
				<div class="uk-child-width-1-2@s" uk-grid>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ANWAR BURGER</h3>
									<p>เบอร์เกอร์ นักเก็ต เฟรนฟราย โรตี อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body">
									<h3 id="title">ลูกชิ้น</h3>
									<p>ลูกชิ้น ไส้กรอก ไส้กรอกห่อเบค่อน อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					<div>
						
						<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
							<div class="uk-card-media-left uk-cover-container">
								<img src="../docs/images/light.jpg" alt="" uk-cover>
								<canvas width="600" height="400"></canvas>
							</div>
							<div>
								<div class="uk-card-body ">
									<h3 id="title">น้องแนนหมูปิ้ง</h3>
									<p>หมูปิ้ง ปีกไก่ ตับ อื่น ๆ</p>
								</div>
							</div>
						</div>
					</div>
					
					
					
				</div>
				
			</div>
			
			
			
		</div>
		
	</div>
</div>
<!-- </div> -->
{% endblock %}