{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Styles -->
  <!-- <style>
  #chartdiv {
  width   : 70%;
  height    : 300px;
  font-size : 20px;
  }
  </style> -->
  <!-- Styles -->
  <style>
  #chartdiv {
  width: 100%;
  height: 300px;
  }
  .summary-label{
  font-size: 15px;
font-weight: bold;
  color: #9E9E9E;
  /*color: #AAB8C2;*/
  }
  </style>
  <!-- Resources -->
  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <script src="https://www.amcharts.com/lib/3/themes/none.js"></script>
  <!-- Chart code -->
  <script>
  var chartData = generatechartData();
  function generatechartData() {
  var chartData = [];
  var firstDate = new Date();
  firstDate.setDate( firstDate.getDate() -4 );
  // var visits = -40;

  for ( var i = 0; i < 4; i++ ) {
  // we create date objects here. In your data, you can have date strings
  // and then set format of your dates using chart.dataDateFormat property,
  // however when possible, use date objects, as this will speed up chart rendering.
  var newDate = new Date( firstDate );
  newDate.setDate( newDate.getDate() + i );
  // console.log(newDate);
  var viewPerDay = {{viewer_list_per_day}};
  // console.log(typeof(viewPerDay[0]));
  // alert({{viewer_list_per_day}});
  // if(i > 80){
  // b = 0.4;
  // }
  // visits += Math.round((Math.random()<b?1:-1)*Math.random()*10);
  visits ={{viewer}}
  chartData.push( {
  date: newDate,
  visits: viewPerDay[i]
  } );
  }
  return chartData;
  }
  var chart = AmCharts.makeChart( "chartdiv", {
  "theme": "none",
  "type": "serial",
  "dataProvider": chartData,
  "valueAxes": [ {
  "inside": true,
  "axisAlpha": 0
  } ],
  "graphs": [ {
  "id": "g1",
  "balloonText": "<div style='margin:5px; font-size:19px;'><span style='font-size:13px;'>[[category]]</span><br>[[value]]</div>",
  "bullet": "round",
  "bulletBorderAlpha": 1,
  "bulletBorderColor": "#FFFFFF",
  "hideBulletsCount": 50,
  "lineThickness": 2,
  "lineColor": "#fdd400",
  "negativeLineColor": "#67b7dc",
  "valueField": "visits"
  } ],
  "chartScrollbar": {
  },
  "chartCursor": {},
  "categoryField": "date",
  "categoryAxis": {
  "parseDates": true,
  "axisAlpha": 0,
  "minHorizontalGap": 55
  }
  } );
  </script>
  <!-- HTML -->
  <div class="container" >
    <div uk-grid>
      <div class="uk-width-3-4@m  uk-child-width-1-1@s uk-padding " >
        <div id="chartdiv"></div>
        <!-- <div></div> -->
      </div>
      <!-- <div class="uk-child-width-1-3@m  uk-child-width-1-1@s uk-padding " > -->
      <!-- <div><div id="chartdiv"></div></div> -->
      <!-- <div></div> -->
      <!-- </div>  -->
      <div class="uk-width-1-4@m uk-margin-medium-top">
        <h3 class="uk-heading-divider summary-label ">{{month}} {{year}}</h3>
        <div uk-grid>
          <div class="uk-width-1-2@m ">
            <p  class="summary-label uk-margin-remove-bottom">VIEWS</p>
            <h1 class="uk-margin-remove-top uk-margin-bottom">{{viewer}}</h1>
            <!-- <label></label>  -->
            <hr>
            <p  class="summary-label uk-margin-remove-bottom">ORDERS</p>
            <h1 class="uk-margin-remove-top">{{order_count}}</h1><hr>
          </div>
          <div class="uk-width-1-2@m ">
            <p  class="summary-label uk-margin-remove-bottom">LOVES</p>
            <h1 class="uk-margin-remove-top uk-margin-bottom">{{store.total_likes}}</h1>
            <!-- <label></label>  -->
            <hr>
            <p  class="summary-label uk-margin-remove-bottom">REVIEWS</p>
            <h1 class="uk-margin-remove-top">{{reviews_count}}</h1>
            <hr>
          </div>
        </div>
      </div>
    </div>
      </div>
  {% endblock %}